.extras {
	padding: 5.6vw;

	h2{
		text-align: center;
	}

	&__list{
		display: grid;
		justify-content: space-around;
		margin-top: 50px;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
		align-items: center;

		@media (max-width:768px){
			display: block;
		}

		.button {
			margin-top: 24px;
			grid-template-columns: 1fr 1fr;
		}

		&__item{
			display: block;
			padding: 44px 28px 28px;
			max-width: 380px;
			width: 100%;

			&:nth-child(2){
				background-image: url(../images/fundo_combo_plus.png);
				background-repeat: no-repeat;
				background-size: contain;


			}

			img {
				width: 480px;
				
			}

			strong {
				display: block;
				margin-top: 24px;
			}	

		}
		
	}

	p {
		text-align: center;
	}
}